# Implementing a neural network in Python

---

## Programming Environment

```bash
conda create -n tf -v -y \
-c conda-forge --strict-channel-priority \
'imbalanced-learn=0.11' \
'matplotlib      =3.07' \
'numpy           =1.25' \
'pandas          =2.01' \
'plotly          =5.16' \
'python          =3.11' \
'scikit-learn    =1.03'
```
```bash
conda activate tf
```
[Get started with tensorflow-metal](https://developer.apple.com/metal/tensorflow-plugin/)
```bash
python -m pip install tensorflow
```
```bash
python -m pip install tensorflow-metal
```

In [1]:
import numpy  as np
np.set_printoptions(suppress=True) # suppress scientific notation
import pandas as pd
import matplotlib.pyplot as plt

import sklearn
from   sklearn.model_selection import train_test_split
from   sklearn.preprocessing   import StandardScaler
import imblearn

import tensorflow as tf

import plotly

import datetime
from   importlib.metadata import version
import os
import platform as p
import sys

pad = 20
print(  f"\n{'Executed' : <{pad}} : {datetime.datetime.now().astimezone().strftime('%Y-%m-%d %H:%M:%S %z %Z')}"
        f"\n{'Platform' : <{pad}} : {p.platform(aliased = False, terse = False)}"
        f"\n{'Conda'    : <{pad}} : {os.environ['CONDA_DEFAULT_ENV'] or sys.executable.split('/')[-3]}"
        f"\n{'Python'   : <{pad}} : {p.python_implementation()} {p.python_version()} {sys.executable}")
print(*[f'{name : <{pad}} : {version(name)}'
        for name in ['Imbalanced-Learn', 'Matplotlib', 'NumPy', 'Pandas', 'Plotly', 'Scikit-Learn', 'TensorFlow']], sep = '\n')

Executed             : 2023-09-03 15:12:57 -0400 EDT
Platform             : macOS-13.5.1-arm64-arm-64bit
Conda                : ml
Python               : CPython 3.11.4 /Users/df/anaconda3/envs/ml/bin/python
Imbalanced-Learn     : 0.11.0
Matplotlib           : 3.7.2
NumPy                : 1.24.3
Pandas               : 2.0.3
Plotly               : 5.15.0
Scikit-Learn         : 1.3.0
TensorFlow           : 2.13.0

---

In [2]:
application_df = pd.read_csv(filepath_or_buffer = 'https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df = application_df.drop(labels = ['EIN', 'NAME'],
                                     axis   = 1)
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
application_types_to_replace = list(application_counts[application_counts < 500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
for app in application_types_to_replace:
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(to_replace = app, value = 'Other')

application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
class_counts[class_counts > 10]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: count, dtype: int64

In [10]:
classifications_to_replace = list(class_counts[class_counts < 1000].index)
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [11]:
for cls in classifications_to_replace:
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(to_replace = cls, value = 'Other')

application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
application_with_dummies_df = pd.get_dummies(data = application_df)
application_with_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [13]:
X = application_with_dummies_df.drop(labels = ['IS_SUCCESSFUL'], axis = 'columns').values
y = application_with_dummies_df['IS_SUCCESSFUL'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

print(X      .shape)
print(y      .shape)
print(X_train.shape)
print(X_test .shape)
print(y_train.shape)
print(y_test .shape)

(34299, 43)
(34299,)
(25724, 43)
(8575, 43)
(25724,)
(8575,)

In [14]:
scaler = StandardScaler()
scaler

StandardScaler()

In [15]:
X_scaler = scaler.fit(X = X_train)
X_scaler

StandardScaler()

In [16]:
X_train_scaled = X_scaler.transform(X = X_train)
X_train_scaled.shape

(25724, 43)

In [17]:
X_test_scaled = X_scaler.transform(X = X_test)
X_test_scaled.shape

(8575, 43)

In [18]:
number_input_features = len(X_train[0]) # 43
hidden_nodes_layer1   = 80
hidden_nodes_layer2   = 30

nn = tf.keras.models.Sequential()
nn.add(layer = tf.keras.layers.Dense(units      = hidden_nodes_layer1,
                                     input_dim  = number_input_features,
                                     activation = 'relu'))
nn.add(layer = tf.keras.layers.Dense(units      = hidden_nodes_layer2,
                                     activation = 'relu'))
nn.add(layer = tf.keras.layers.Dense(units      = 1,
                                     activation = 'sigmoid'))
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

2023-09-03 15:12:58.643020: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Max
2023-09-03 15:12:58.643043: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 64.00 GB
2023-09-03 15:12:58.643048: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 24.00 GB
2023-09-03 15:12:58.643087: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-09-03 15:12:58.643104: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [22]:
nn.compile(optimizer = 'adam',
           loss      = 'binary_crossentropy',
           metrics   = ['accuracy'])

fit_model = nn.fit(x = X_train_scaled,
                   y = y_train,
                   epochs = 100)

Epoch 1/100

2023-09-03 15:14:46.254118: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 8s 8ms/step - loss: 0.6019 - accuracy: 0.7093
Epoch 2/100
804/804 [==============================] - 6s 7ms/step - loss: 0.6009 - accuracy: 0.7100
Epoch 3/100
804/804 [==============================] - 6s 7ms/step - loss: 0.6246 - accuracy: 0.6990
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.6499 - accuracy: 0.6843
Epoch 5/100
804/804 [==============================] - 6s 7ms/step - loss: 0.6675 - accuracy: 0.6800
Epoch 6/100
804/804 [==============================] - 6s 7ms/step - loss: 0.6904 - accuracy: 0.6742
Epoch 7/100
804/804 [==============================] - 6s 7ms/step - loss: 0.7001 - accuracy: 0.6705
Epoch 8/100
804/804 [==============================] - 6s 7ms/step - loss: 0.7874 - accuracy: 0.6536
Epoch 9/100
804/804 [==============================] - 6s 8ms/step - loss: 0.7789 - accuracy: 0.6531
Epoch 10/100
804/804 [==============================] - 6s 8ms/step - loss: 0.8167 - accuracy: 0.6502
Epoch 11/100
804/804 [==============================] - 6s 8ms/step - loss: 0.8183 - accuracy: 0.6479
Epoch 12/100
804/804 [==============================] - 6s 7ms/step - loss: 0.8479 - accuracy: 0.6452
Epoch 13/100
804/804 [==============================] - 6s 8ms/step - loss: 0.9185 - accuracy: 0.6396
Epoch 14/100
804/804 [==============================] - 6s 7ms/step - loss: 1.0107 - accuracy: 0.6333
Epoch 15/100
804/804 [==============================] - 6s 7ms/step - loss: 0.9846 - accuracy: 0.6370
Epoch 16/100
804/804 [==============================] - 6s 8ms/step - loss: 1.0254 - accuracy: 0.6312
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 1.1162 - accuracy: 0.6310
Epoch 18/100
804/804 [==============================] - 6s 8ms/step - loss: 1.0965 - accuracy: 0.6306
Epoch 19/100
804/804 [==============================] - 6s 8ms/step - loss: 1.1755 - accuracy: 0.6294
Epoch 20/100
804/804 [==============================] - 6s 7ms/step - loss: 1.3137 - accuracy: 0.6250
Epoch 21/100
804/804 [==============================] - 6s 7ms/step - loss: 1.3017 - accuracy: 0.6228
Epoch 22/100
804/804 [==============================] - 6s 7ms/step - loss: 1.4112 - accuracy: 0.6195
Epoch 23/100
804/804 [==============================] - 6s 8ms/step - loss: 1.3526 - accuracy: 0.6286
Epoch 24/100
804/804 [==============================] - 6s 7ms/step - loss: 1.5683 - accuracy: 0.6198
Epoch 25/100
804/804 [==============================] - 6s 7ms/step - loss: 1.7603 - accuracy: 0.6188
Epoch 26/100
804/804 [==============================] - 6s 8ms/step - loss: 1.9955 - accuracy: 0.6115
Epoch 27/100
804/804 [==============================] - 6s 8ms/step - loss: 1.8094 - accuracy: 0.6196
Epoch 28/100
804/804 [==============================] - 6s 8ms/step - loss: 1.7093 - accuracy: 0.6209
Epoch 29/100
804/804 [==============================] - 6s 8ms/step - loss: 2.0289 - accuracy: 0.6162
Epoch 30/100
804/804 [==============================] - 6s 8ms/step - loss: 2.3170 - accuracy: 0.6193
Epoch 31/100
804/804 [==============================] - 6s 8ms/step - loss: 2.1276 - accuracy: 0.6202
Epoch 32/100
804/804 [==============================] - 6s 7ms/step - loss: 2.3623 - accuracy: 0.6120
Epoch 33/100
804/804 [==============================] - 7s 8ms/step - loss: 2.6351 - accuracy: 0.6099
Epoch 34/100
804/804 [==============================] - 6s 8ms/step - loss: 2.5723 - accuracy: 0.6155
Epoch 35/100
804/804 [==============================] - 6s 8ms/step - loss: 2.4527 - accuracy: 0.6190
Epoch 36/100
804/804 [==============================] - 6s 8ms/step - loss: 2.7516 - accuracy: 0.6109
Epoch 37/100
804/804 [==============================] - 6s 8ms/step - loss: 2.7301 - accuracy: 0.6135
Epoch 38/100
804/804 [==============================] - 6s 7ms/step - loss: 3.1099 - accuracy: 0.6148
Epoch 39/100
804/804 [==============================] - 6s 8ms/step - loss: 3.0866 - accuracy: 0.6125
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 3.6843 - accuracy: 0.6067
Epoch 41/100
804/804 [==============================] - 6s 8ms/step - loss: 2.7624 - accuracy: 0.6136
Epoch 42/100
804/804 [==============================] - 6s 7ms/step - loss: 3.4632 - accuracy: 0.6111
Epoch 43/100
804/804 [==============================] - 6s 7ms/step - loss: 3.5344 - accuracy: 0.6145
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 3.8945 - accuracy: 0.6106
Epoch 45/100
804/804 [==============================] - 6s 7ms/step - loss: 3.8912 - accuracy: 0.6126
Epoch 46/100
804/804 [==============================] - 6s 7ms/step - loss: 3.4297 - accuracy: 0.6093
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 4.2821 - accuracy: 0.6154
Epoch 48/100
804/804 [==============================] - 6s 8ms/step - loss: 4.1913 - accuracy: 0.6153
Epoch 49/100
804/804 [==============================] - 6s 8ms/step - loss: 3.6650 - accuracy: 0.6098
Epoch 50/100
804/804 [==============================] - 6s 7ms/step - loss: 4.1875 - accuracy: 0.6118
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 4.3578 - accuracy: 0.6074
Epoch 52/100
804/804 [==============================] - 6s 8ms/step - loss: 4.9220 - accuracy: 0.6071
Epoch 53/100
804/804 [==============================] - 6s 7ms/step - loss: 4.5112 - accuracy: 0.6113
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 4.3014 - accuracy: 0.6118
Epoch 55/100
804/804 [==============================] - 6s 7ms/step - loss: 4.9784 - accuracy: 0.6080
Epoch 56/100
804/804 [==============================] - 6s 7ms/step - loss: 5.3051 - accuracy: 0.6140
Epoch 57/100
804/804 [==============================] - 6s 7ms/step - loss: 4.8534 - accuracy: 0.6123
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 5.3038 - accuracy: 0.6114
Epoch 59/100
804/804 [==============================] - 6s 7ms/step - loss: 5.8371 - accuracy: 0.6129
Epoch 60/100
804/804 [==============================] - 6s 7ms/step - loss: 5.8897 - accuracy: 0.6128
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 5.6094 - accuracy: 0.6109
Epoch 62/100
804/804 [==============================] - 6s 8ms/step - loss: 6.7859 - accuracy: 0.6104
Epoch 63/100
804/804 [==============================] - 6s 7ms/step - loss: 5.7379 - accuracy: 0.6108
Epoch 64/100
804/804 [==============================] - 6s 7ms/step - loss: 6.3132 - accuracy: 0.6109
Epoch 65/100
804/804 [==============================] - 6s 7ms/step - loss: 8.4758 - accuracy: 0.6076
Epoch 66/100
804/804 [==============================] - 6s 7ms/step - loss: 6.3231 - accuracy: 0.6125
Epoch 67/100
804/804 [==============================] - 6s 7ms/step - loss: 7.0016 - accuracy: 0.6141
Epoch 68/100
804/804 [==============================] - 6s 7ms/step - loss: 7.8201 - accuracy: 0.6048
Epoch 69/100
804/804 [==============================] - 6s 8ms/step - loss: 7.2732 - accuracy: 0.6155
Epoch 70/100
804/804 [==============================] - 6s 7ms/step - loss: 7.5203 - accuracy: 0.6129
Epoch 71/100
804/804 [==============================] - 6s 8ms/step - loss: 7.3087 - accuracy: 0.6112
Epoch 72/100
804/804 [==============================] - 6s 7ms/step - loss: 8.0931 - accuracy: 0.6085
Epoch 73/100
804/804 [==============================] - 6s 8ms/step - loss: 8.4427 - accuracy: 0.6116
Epoch 74/100
804/804 [==============================] - 6s 8ms/step - loss: 8.7523 - accuracy: 0.6128
Epoch 75/100
804/804 [==============================] - 6s 8ms/step - loss: 8.6879 - accuracy: 0.6122
Epoch 76/100
804/804 [==============================] - 6s 8ms/step - loss: 9.5422 - accuracy: 0.6094
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 8.3874 - accuracy: 0.6124
Epoch 78/100
804/804 [==============================] - 6s 7ms/step - loss: 9.2977 - accuracy: 0.6099
Epoch 79/100
804/804 [==============================] - 6s 7ms/step - loss: 9.7996 - accuracy: 0.6127
Epoch 80/100
804/804 [==============================] - 6s 8ms/step - loss: 9.3640 - accuracy: 0.6120
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 8.3216 - accuracy: 0.6120
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 10.0611 - accuracy: 0.6100
Epoch 83/100
804/804 [==============================] - 6s 7ms/step - loss: 10.4380 - accuracy: 0.6107
Epoch 84/100
804/804 [==============================] - 6s 8ms/step - loss: 10.5133 - accuracy: 0.6124
Epoch 85/100
804/804 [==============================] - 6s 7ms/step - loss: 11.3621 - accuracy: 0.6070
Epoch 86/100
804/804 [==============================] - 6s 8ms/step - loss: 10.1397 - accuracy: 0.6083
Epoch 87/100
804/804 [==============================] - 6s 7ms/step - loss: 10.9981 - accuracy: 0.6043
Epoch 88/100
804/804 [==============================] - 6s 8ms/step - loss: 10.1383 - accuracy: 0.6158
Epoch 89/100
804/804 [==============================] - 6s 7ms/step - loss: 11.3863 - accuracy: 0.6061
Epoch 90/100
804/804 [==============================] - 6s 7ms/step - loss: 11.7285 - accuracy: 0.6118
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 13.3681 - accuracy: 0.6105
Epoch 92/100
804/804 [==============================] - 5s 7ms/step - loss: 10.8498 - accuracy: 0.6090
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 11.8555 - accuracy: 0.6121
Epoch 94/100
804/804 [==============================] - 6s 7ms/step - loss: 11.9764 - accuracy: 0.6076
Epoch 95/100
804/804 [==============================] - 5s 7ms/step - loss: 11.1603 - accuracy: 0.6098
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 12.9628 - accuracy: 0.6073
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 14.5841 - accuracy: 0.6054
Epoch 98/100
804/804 [==============================] - 6s 7ms/step - loss: 12.6305 - accuracy: 0.6094
Epoch 99/100
804/804 [==============================] - 6s 7ms/step - loss: 14.7268 - accuracy: 0.6120
Epoch 100/100
804/804 [==============================] - 6s 7ms/step - loss: 13.6021 - accuracy: 0.6105

In [23]:
model_loss, model_accuracy = nn.evaluate(x = X_test_scaled,
                                         y = y_test,
                                         verbose = 2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2023-09-03 15:26:31.868922: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 10.8782 - accuracy: 0.7180 - 1s/epoch - 5ms/step
Loss: 10.878178596496582, Accuracy: 0.7180175185203552

In [26]:
nn.save(filepath = 'AlphabetSoupCharity.keras')
#nn.save('AlphabetSoupCharity.h5')

---